@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
.mlr {
    margin-left: 1rem;
    margin-right: 1rem;
}


/* ... */

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    color: #0B0F19;
}

a {
    text-decoration: none;
    color: #0B0F19;
}

h1 {

}

header {
    height: 90vh;
    background-image: linear-gradient(#FFF, #F4F1FE);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.app-store-container {
    display: flex;
    align-items: end;
    justify-content: center;

}

.app-store-container img {
    max-width: 746px;
}
