@use "../abstracts/variables" as *;

.btn-primary {
    background-color: $brandPrimary;
    color: $gray100;
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.4s;

    i {
        margin-right: 0.5rem;
    }
}