@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 25vh;
    width: 100%;
}

header .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 60%;
}

h1 {
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 700;

    text-align: center;
    font-size: 14vw;
    
    text-transform: uppercase;
    background: url(/Playground/assets/img/header.jpg) 0 70% / cover no-repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-container {
    width: 25vw;
    border: 1px solid rgb(56, 56, 56);
    margin: 0.5rem;
    aspect-ratio: 1/1;
    border-radius: 3px;
    box-shadow: 2px 2px 8px black;
    transition: transform 0.2s, box-shadow 0.3s;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-container:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 9px black;
}