@use "../abstracts/variables" as var;

@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex($d: row, $j: flex-start, $a: stretch, $g: 0) {
    display: flex;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;
    gap: $g;
}



@mixin mixinBtn($borderRadius: 0, $decorateHover: none) {
    border: none;
    border-radius: $borderRadius;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        text-decoration: $decorateHover;
    }
}

@mixin mixinBtnPrimary() {
    @include mixinBtn(0.5em, underline);

    background-color: var.$brandPrimary; 
    color: var.$gray100;
    padding: 0.8em 2em;

    &:hover {
        background-color: lighten(saturate(var.$brandPrimary, 1.09), 10.39);
    }
}



