
// swapping to tablet
@media (min-width: 765px) {
    .hidden-on-mobile {
        display: block;
    }

    nav {
        
        div {
            label {
                margin-right: 5rem;
            }
        }
    }

    

    
}

// swapping to desktop
@media (min-width: 1900px) {
    .hidden-on-tablet {
        display: block;
    }

    .hidden-on-desktop {
        display: none;
    }

    nav {
        justify-content: space-between;

        div {
            a {
                margin-right: 2rem;
            }
            label {
                margin-right: 2rem;
            }            
        }
    }

    // .page {
    //     padding: 0px 20rem;
    // }
}