@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #585C7B;
}

h1 {
  color: #131022;
  font-size: 2.2rem;
}

h2 {
  color: #131022;
  font-size: 1.8rem;
}

h3 {
  color: #131022;
  font-size: 1.25rem;
}

p {
  color: #585C7B;
}

.hidden-on-mobile {
  display: none;
}

.hidden-on-tablet {
  display: none;
}

.hidden-on-desktop {
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav div {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}
nav div label {
  margin-right: 2rem;
}
nav div p {
  margin-right: 1rem;
}
nav div button span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
nav div .switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 24px;
}
nav div .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
nav div .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #9397AD;
  transition: 0.4s;
  border-radius: 34px;
}
nav div .slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
nav div input:checked + .slider {
  background-color: #6366F1;
}
nav div input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
nav div input:checked + .slider:before {
  transform: translateX(26px);
}

main {
  width: 100vw;
}

section {
  padding: 0rem 2rem;
}

@media (min-width: 1900px) {
  section {
    padding: 0rem 10rem;
  }
}
.page-1 {
  background: radial-gradient(118% 116.18% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);
  display: flex;
  flex-direction: column;
}
.page-1 h1 {
  text-align: center;
  margin-top: 0.2rem;
}
.page-1 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-1 .content p {
  font-size: 1.15rem;
  text-align: center;
  margin-top: 3ch;
  margin-bottom: 2ch;
}
.page-1 .content button {
  background-color: #131022;
  width: 90vw;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 8px;
}
.page-1 .content button img {
  transform: scale(0.9, 0.9);
}
.page-1 .content .btn-container {
  display: flex;
  flex-direction: column;
}
.page-1 .content #btn-discover-more {
  background-color: rgba(0, 0, 0, 0);
  width: 12rem;
  height: 3rem;
  margin: 2rem 0rem;
}
.page-1 .content #btn-discover-more span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.page-1 .content #btn-discover-more span p {
  font-size: 0.875rem;
  margin: 0ch 0ch;
  align-self: center;
}

.page-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.page-2 h2 {
  margin-top: 2.7rem;
}
.page-2 p {
  font-size: 1.15rem;
  margin-top: 1.5rem;
}
.page-2 .feature-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}
.page-2 .feature {
  text-align: left;
  display: flex;
}
.page-2 .feature p {
  font-size: 1rem;
  margin-top: 0.6rem;
}
.page-2 .feature .ft-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  background-color: #F3F6FF;
  border: 0.5px solid #F3F6FF;
  border-radius: 8px;
  margin-right: 1rem;
}

@media (min-width: 765px) {
  .logo-container {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0.5rem;
  }
  .logo-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #E2E5F1;
    border-radius: 8px;
    padding: 2.05rem 0.55rem;
    width: 9.9rem;
    height: 6.1rem;
  }
}
@media (min-width: 1900px) {
  .logo-container .logo-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #E2E5F1;
    border-radius: 8px;
    padding: 2.05rem 0.55rem;
    width: 9.9rem;
    height: 6.1rem;
  }
}
.page-3 {
  background-color: #F3F6FF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
}
.page-3 h3 {
  margin: 0 4rem;
}
.page-3 p {
  margin: 1rem;
}
.page-3 img {
  max-width: 270px;
}

@media (min-width: 765px) {
  .img-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    max-width: 610px;
  }
  .img-container img {
    max-width: 203px;
  }
}
@media (min-width: 765px) {
  .hidden-on-mobile {
    display: block;
  }
  nav div label {
    margin-right: 5rem;
  }
  .page-1 h1 {
    font-size: 2.75rem;
    max-width: 442px;
    align-self: center;
    margin-top: 3rem;
  }
  .page-1 .content {
    align-items: flex-start;
  }
  .page-1 .content .btn-container {
    flex-direction: row;
    gap: 1rem;
  }
  .page-1 .content button {
    width: 8rem;
    height: 2.7rem;
  }
  .page-1 .content button img {
    transform: scale(0.7, 0.7);
  }
}
@media (min-width: 1900px) {
  .hidden-on-tablet {
    display: block;
  }
  .hidden-on-desktop {
    display: none;
  }
  nav {
    justify-content: space-between;
  }
  nav div a {
    margin-right: 2rem;
  }
  nav div label {
    margin-right: 2rem;
  }
}
button {
  width: 8.7rem;
  height: 2.3rem;
  border: none;
  background-color: #6366F1;
  color: white;
  border-radius: 5px;
}/*# sourceMappingURL=styles.css.map */