@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

a {
  color: #33354D;
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: #6366F1;
}

h1 {
  font-size: 2.1rem;
  color: #0B0F19;
}

.container {
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0 3rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}
.theme-toggle .label {
  color: #33354D;
  margin-right: 5px;
}
.theme-toggle .switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}
.theme-toggle .switch span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #9397AD;
  transition: 0.4s;
  border-radius: 34px;
}
.theme-toggle .switch span:before {
  content: "";
  position: absolute;
  left: 0.1rem;
  bottom: 0.15rem;
  height: 1.2rem;
  width: 1.2rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.theme-toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-toggle .switch input:checked + span {
  background-color: #6366F1;
}
.theme-toggle .switch input:focus + span {
  box-shadow: 0px 0px 5px 0.1px #2196F3;
}
.theme-toggle .switch input:checked + span:before {
  transform: translateX(1.6rem);
}

.btn-primary {
  background-color: #6366F1;
  color: #F3F6FF;
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.4s;
}
.btn-primary i {
  margin-right: 0.5rem;
}

.btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.8);
}

.btn-app-store {
  background-color: #0B0F19;
  border-radius: 8px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background-image: radial-gradient(120.91% 118.4% at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);
  padding-top: 1rem;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 1.5rem;
}
.navbar nav {
  display: none;
}
.navbar .theme-toggle .label {
  display: none;
}
.navbar #auth-login {
  display: none;
}

.header-content {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  padding-top: 3rem;
}
.header-content h1 {
  max-width: 90vw;
  text-align: center;
}
.header-content p {
  font-size: 1.125rem;
  line-height: 1.8rem;
  text-align: center;
}
.header-content .btn-store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.header-content .btn-discover-more {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-shrink: 0;
}
.header-content .iphone-header-img {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    gap: 3rem;
  }
  .navbar .theme-toggle .label {
    display: inline-block;
  }
  .header-content {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: 0;
    -moz-column-gap: 0;
         column-gap: 0;
    padding-top: 5rem;
  }
  .header-content h1 {
    grid-column: 1/13;
    grid-row: 1/1;
    justify-self: center;
    text-align: center;
    font-size: 2.7rem;
    max-width: 26rem;
    margin-bottom: 3rem;
  }
  .header-content p {
    grid-column: 1/6;
    grid-row: 4/8;
    text-align: left;
  }
  .header-content .btn-store-container {
    grid-column: 1/6;
    grid-row: 9/11;
    flex-direction: row;
  }
  .header-content .btn-store-container .btn-app-store {
    height: 40px;
    width: 125px;
  }
  .header-content .btn-store-container .btn-app-store img {
    transform: scale(0.7, 0.7);
  }
  .header-content .btn-discover-more {
    grid-column: 1/5;
    grid-row: 11/12;
    margin-top: 0.5rem;
    justify-self: start;
  }
  .header-content .iphone-header-img {
    grid-column: 5/13;
    grid-row: 2/13;
    display: block;
  }
  .header-content .iphone-header-img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
}
@media (min-width: 1200px) {
  .navbar {
    grid-template-columns: auto 1fr auto auto;
  }
  .navbar nav {
    display: block;
  }
  .navbar #auth-login {
    display: block;
  }
  .navbar .btn-mobile {
    display: none;
  }
  .header-content {
    padding-top: 7rem;
  }
  .header-content h1 {
    grid-column: 1/6;
    grid-row: 2/3;
    font-size: 3.5rem;
    line-height: 4.5rem;
    text-align: left;
    max-width: 33rem;
    margin: 0;
  }
  .header-content p {
    grid-column: 1/6;
    grid-row: 4/5;
  }
  .header-content .btn-store-container {
    grid-column: 1/6;
    grid-row: 6/7;
  }
  .header-content .btn-store-container .btn-app-store {
    height: 50px;
    width: 180px;
  }
  .header-content .btn-store-container .btn-app-store img {
    transform: scale(0.9, 0.9);
  }
  .header-content .btn-discover-more {
    grid-column: 1/5;
    grid-row: 11/12;
    margin-top: 0;
  }
  .header-content .iphone-header-img {
    grid-column: 6/13;
    grid-row: 1/13;
  }
}
.section-features {
  padding-top: 2rem;
}
.section-features .logo-container {
  display: none;
}
.section-features .features-content {
  text-align: center;
  display: grid;
  row-gap: 1rem;
}

@media (min-width: 768px) {
  .section-features {
    padding-top: 4rem;
  }
  .section-features .logo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .section-features .logo-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border: 0.5px solid #E2E5F1;
    border-radius: 8px;
    padding: 2rem 1rem;
  }
  .section-features .logo-container .logo img {
    max-width: 120px;
  }
  .section-features .logo-container div:nth-child(5) {
    display: none;
  }
  .section-features .logo-container div:nth-child(6) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section-features .logo-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .section-features .logo-container div:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-features .logo-container div:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-features .logo-container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border: 0.5px solid #E2E5F1;
    border-radius: 8px;
  }
  .section-features .logo-container .logo img {
    max-width: 115px;
  }
}/*# sourceMappingURL=styles.css.map */