@import "./fonts";
@import "./nav";
@import "./themetoggle";
@import "./page1";

@import "./media-queries";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

button {
    width: 8.7rem;
    height: 2.3rem;
    border: none;
    background-color: #6366F1;
    color: white;
    border-radius: 5px;
}

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #0B0F19;
}

main {
    width: 100vw;
}

section {
    height: 100vh;
    padding: 0rem 2rem;
}

.grey-bg {
    background: radial-gradient(118% 116.18% at 50% 100%, rgba(99, 102, 241, 0.10) 0%, rgba(218, 70, 239, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);
}

