@use "../abstracts/variables";
@use "../base/root-vars" as *;
@use "../abstracts/mixins";


.footer {        
    padding: 3rem 0;

    .container {
        @include mixins.flex-center-column;

        p {
            font-size: variables.$s-text;
            color: var(--clr-footer-text);
        }
    }
}

@media (min-width: variables.$mqMedium) {
    .footer {
        .container {
            flex-direction: row;
            gap: 0.5rem;
        }
    }
}