.page-2 {
    text-align: center;
    display: flex;
    flex-direction: column;

    h2 {
        margin-top: 2.7rem;
    }
    p {
        font-size: $p-fontsize-large;
        margin-top: 1.5rem;
    }

    .feature-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 3rem 0;
    }

    .feature {     
        text-align: left;
        display: flex;

        p {
            font-size: $p-fontsize-medium;
            margin-top: 0.6rem;
        }

        .ft-img {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 3rem;
            height: 3rem;
            padding: 1rem;
            background-color: $section-bg-color;

            border: 0.5px solid $section-bg-color;
            border-radius: 8px;

            margin-right: 1rem;
        }
    }

}

@media (min-width: 765px) {
    .logo-container {
        display: flex;
        justify-content: space-around;        
        padding: 1.5rem 0.5rem;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5px solid #E2E5F1;
            border-radius: 8px;
            padding: 2.05rem 0.55rem;
            width: 9.9rem;
            height: 6.1rem;
        }
    }
}

@media (min-width: 1900px) {
    .logo-container {
        .logo-desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.5px solid #E2E5F1;
            border-radius: 8px;
            padding: 2.05rem 0.55rem;
            width: 9.9rem;
            height: 6.1rem;
        }
    }
}