.page-1 {
    display: flex;
    flex-direction: column;
    h1 {
        text-align: center;
        margin-top: 0.2rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        p {
            font-size: $p-fontsize-large;
            text-align: center;
            margin-top: 3ch;
            margin-bottom: 2ch;
        }

        button {
            background-color: #131022;
            width: 90vw;
            height: 3rem;
            margin-top: 1rem;
            border-radius: 8px;

            img {
                transform: scale(0.9, 0.9);
            }
        }

        .btn-container {
            display: flex;
            flex-direction: column;
        }

        #btn-discover-more {
            background-color: rgba(0,0,0,0);
            width: 12rem;
            height: 3rem;
            margin: 2rem 0rem;
            
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;

                p {
                    font-size: $p-fontsize-small;
                    margin: 0ch 0ch;
                    align-self: center;
                }
            }
        }
    }
    
}