.page-1 {
    background: $section-gradient;
    display: flex;
    flex-direction: column;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 0;
        text-align: center;
    
        p {
            font-size: $p-fontsize-large;
        }

        .btn-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            button {
                background-color: #131022;
                width: 90vw;
                height: 3rem;
                border: none;
                border-radius: 8px;
    
                img {
                    transform: scale(0.9, 0.9);
                }
            }
        }       

        #btn-discover-more {
            background-color: rgba(0,0,0,0);
            width: 12rem;
            height: 3rem;
            border: none;
            
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;

                p {
                    font-size: $p-fontsize-small;
                    margin: 0ch 0ch;
                    align-self: center;
                }
            }
        }
    }
    
}

@media (min-width: 765px) {
    .page-1 {

        // h1 {
        //     font-size: 2.75rem;
        //     max-width: 442px;
        //     align-self: center;
        //     margin-top: 3rem;      
        // }

        .content {
            padding: 0;
            margin-top: 4vh;
            display: grid;
            grid-template-areas: 
            "h1 h1"
            "h1 h1"
            "h1 h1"
            "p imgPhone"
            "p imgPhone "
            "btn imgPhone"
            "btnDsc imgPhone"
            ;

            border: 1px solid black;
            
            h1 {
                grid-area: h1;
                max-width: 20rem;
                justify-self: center;
            }

            .paragraph {
                grid-area: p;
                align-self: end;
                text-align: left;
                max-width: 18rem;
            }

            .img-phone {
                grid-area: imgPhone;                
                width: 100%;
            }

            .btn-container {
                grid-area: btn;
                align-self: end;
                flex-direction: row;
                gap: 1rem;

                button {
                    width: 8rem;
                    height: 2.7rem;                
    
                    img {
                        transform: scale(0.7, 0.7);
                    }
                }
            }

            

            #btn-discover-more {
                grid-area: btnDsc;

                span {
                    justify-content: flex-start;
                }
            }
        }
    }
}