.page-3 {
    background-color: $section-bg-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    
    h3 {
        margin: 0 4rem;
    }

    p {
        margin: 1rem;
    }

    img {
        max-width: 270px;
        
    }

    .p3-btxt {
        max-width: 25rem;
    }
}

@media (min-width: 765px) {
    .page-3 {
        .img-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            max-width: 610px;

            img {
                max-width: 203px;
            }
        }

        .p3-btxt {
            max-width: 35rem;

            span {
                display: inline;
            }
        }
    }
}