@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../base/root-vars" as *;


.section-testimonial {
    background-color: var(--clr-seconday-bg);
    padding: 5rem 0;

    .testimonial-container {
        @include mix.flex($j: space-between, $g: 1rem);
        padding: 3rem;
    
        h2 {
            font-size: 2rem;
            font-weight: 800;
        }

        p {
            font-size: 1.125rem;
        }

        .card-container {
            @include mix.flex($g: 1rem);
        }
    
        .card {
            @include mix.flex($d: column, $j: space-between, $g: 1rem);

            background-color: var(--clr-card-bg);
            width: 400px;
            height: 320px;
            padding: 3rem 1rem 1rem 1rem;
            border-radius: 8px;

            position: relative;

            .client-avatar {
                @include mix.flex($g: 1rem);

                strong {
                    color: var(--clr-text-heading);
                }

                p {
                    font-size: 0.875rem;
                }
            }

            &::before {
                content: url("/assets/p5\ icon.svg");
                position: absolute;
                top: 0;
                transform: translateY(-30px);

                @include mix.flex($j: center, $a: center);

                border-radius: 8px;

                //background-image: url("/assets/p5\ icon.svg");
                background-color: var.$brandPrimary;

                width: 45px;
                height: 45px;
            }
        }
    }
}


@media (max-width: var.$mqLarge) {
    .section-testimonial {
        display: none;
    }
}
