@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.section-transfer {
    padding: 5rem 0;

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        padding: 2rem;
    }

    .btn-primary {
        font-size: 0.875rem;
        width: 10rem;
    }
    

    .section-box-1 {
        @include mix.flex($d: column, $g: 2rem);

        ul {
            @include mix.flex($d: column, $g: 0.5rem);

            li {
                @include mix.flex($a: center, $g: 0.5rem);

                i {
                    color: var.$brandPrimary;
                }
            }
        }

        
    }

    // .section-box-2 {
    //     width: 500px;
    //     height: 500px;
    // }

    .section-box-4 {
        @include mix.flex($d: column, $g: 3rem);

        .card-container {
            @include mix.flex($g: 2rem);
            max-width: 30rem;

            img {
                padding: 1rem;
                background-color: var.$gray200;
                border-radius: 8px;
                margin-bottom: 1rem;
            }
        }
    }
}

@media (max-width: var.$mqLarge) {
    .section-transfer {
        display: none;
    }
}