@use "../base/root-vars" as *;

.clr-light {
    --clr-primary-bg: var(--gray-100);
    --clr-seconday-bg: white;
}

.clr-dark {
    --clr-primary: var(--clr-primary);
    
    --clr-primary-bg: var(--gray-900);
    --clr-seconday-bg: rgba(255, 255, 255, 0.07);
    --clr-header-bg: var(--header-gradient);
}