@use "../abstracts/variables" as var;
@use "../base/root-vars" as *;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}



a {
    color: var(--clr-text-link);
    font-weight: var.$semibold;
    text-decoration: none;

    &:hover {
        color: var.$brandPrimary;
    }
}

h1 {
    font-size: var.$h1-s-fontsize;
}

h1, h2, h3 {
    color: var(--clr-text-heading);
}

p {
    color: var(--clr-text-body);
}

#theme-container {
    transition: all 1.5s ease;
}