@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $p-text-color;
}

h1 {
    color: $heading-text-color;
    font-size: $h1-fontsize-mobile;
}

h2 {
    color: $heading-text-color;
    font-size: $h2-fontsize;
}

h3 {
    color: $heading-text-color;
    font-size: $h3-fontsize;
}

p {
    color: $p-text-color;
}